*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
}

body {
  min-width: 320px;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

ul {
  padding: 0;
}
